*.swp
.DS_Store
irb_history
.config/htop/htoprc
.config/github-copilot/hosts.json
.config/configstore/update-notifier-npm-check-updates.json
.config/stripe
.config/nvim/undodir
.config/lazygit/state.yml
